@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --soft-orange:hsl(35, 77%, 62%);
    --soft-red:hsl(35, 77%, 62%);
    --off-white:hsl(36, 100%, 99%);
    --gray-blue:hsl(233, 8%, 79%);
    --dark-gray-blue:hsl(236, 13%, 42%);
    --very-dark-blue:hsl(240, 100%, 5%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.btn {
    all: unset;
}