@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --soft-orange:hsl(35, 77%, 62%);
    --soft-red:hsl(35, 77%, 62%);
    --off-white:hsl(36, 100%, 99%);
    --gray-blue:hsl(233, 8%, 79%);
    --dark-gray-blue:hsl(236, 13%, 42%);
    --very-dark-blue:rgb(0, 0, 26)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: var(--dark-gray-blue);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.btn {
    all: unset;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 48px 0;
}

nav {
    display: flex;
    gap: 40px;
}


/* -------------------------------------------------------------------------- */
/*                                    HERO                                    */
/* -------------------------------------------------------------------------- */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 30px;
    margin-bottom: 68px;
    /* height: 500px; */
}

main .hero {
    grid-column: span 2;
}

main aside {
    /* grid-row: span 2; */
    background-color: var(--very-dark-blue);
} 

main .hero .content-hero {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    margin-top: 32px;
}

main .hero .content-hero h1 {
    font-size: 56px;
    font-weight: 800;
}

main .hero .desc-hero {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* justify-content: space-between; */
}

main .hero .desc-hero p {
    line-height: 1.5;
}